<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=League+Gothic&family=M+PLUS+Rounded+1c&family=Rajdhani&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <header>
      <nav>
      <div class="site">
        <ul>
          <div>
            <i class="fa-solid fa-shirt"></i>
            <li><a href="x">Productos</a></li>
          </div>
          <div>
            <i class="fa-solid fa-star"></i>
            <li><a href="x">Nuevo</a></li>
          </div>
          <div>
            <i class="fa-solid fa-hand-holding-dollar"></i>
            <li><a href="x">Rebajas</a></li>
          </div>
          <div>
            <i class="fa-solid fa-list"></i>
            <li><a href="x">Categorias</a></li>
          </div>
        </ul>
      </div>
      <div class="burgerMenu">
        <i class="fa-solid fa-bars"></i>
      </div>
      <img class="logoHeader" src="/images/logos/logo-header-black.png">
      <div class="cart">
        <i class="fa-solid fa-cart-shopping"></i>
      </div>
        <div class="login">
          <ul>
            <div>
              <i class="fa-solid fa-magnifying-glass"></i>
              <li><a href="x">Buscar</a></li>
            </div>
            <div>
              <i class="fa-solid fa-circle-user"></i>
              <li><a href="./loginRegister">Registrarse</a></li>
            </div>
            <div>
              <i class="fa-solid fa-heart"></i>
              <li><a href="x">Deseos</a></li>
            </div>
            <div>
            <i class="fa-solid fa-bag-shopping"></i>
            <li><a href="./loginRegister">Compras</a></li>
            </div>
          </ul>
        </div>
      </nav>
    </header>
    <main>
      <!-- aca voy a meter el cuerpo del home - trabajo mobilefirst   -->
      <div class="banner">
        <video class="video-banner" src="/videos/banner-toptop.mp4" autoplay loop muted>
        </video>
      </div>
      
      <section>

            <h1 class="category"> TOP </h1>

              <div class="tarjeta">  
                    <article class="card">
                        <img class="image" src="/images/productHome/top1.webp" alt="Overal Orange" >
                        <div class="description">
                            <p class="nameProduct">Overol Naranja</p>
                            <p class="price">$5000</p>
                        </div>
                    </article>
                    <article class="card">
                          <img class="image" src="/images/productHome/top2.webp" alt="destalle-del-producto" >
                          <div class="description">
                              <p class="nameProduct">descripcion del Producto</p>
                              <p class="price">$5000</p>
                          </div>
                    </article>  
                    <article class="card">
                          <img class="image" src='/images/productHome/top3.webp' alt="destalle-del-producto" >
                          <div class="description">
                              <p class="nameProduct">descripcion del Producto</p>
                              <p class="price">$5000</p>
                          </div>
                    </article>
                    <article class="card">
                          <img class="image" src='/images/productHome/top4.webp' alt="destalle-del-producto" >
                          <div class="description">
                              <p class="nameProduct">descripcion del Producto</p>
                              <p class="price">$5000</p>
                          </div>
                    </article>
              </div>

      </section>

      <div class="banner">
        <video class="video-banner" src="/videos/banner-pantalones.mp4" autoplay loop muted>
        </video>
      </div>
      <section> 

        <h1 class="category"> PANTALONES </h1>
              <div class="tarjeta">  
                    <article class="card">
                          <img class="image" src="/images/productHome/pantalones1.webp" alt="Overal Orange" >
                          <div class="description">
                              <p class="nameProduct">Overol Naranja</p>
                              <p class="price">$9000</p>
                          </div>
                    </article>
                    <article class="card">
                          <img class="image" src="/images/productHome/pantalones2.webp" alt="destalle-del-producto" >
                          <div class="description">
                              <p class="nameProduct">descripcion del Producto</p>
                              <p class="price">$9000</p>
                          </div>
                    </article>  
                    <article class="card">
                          <img class="image" src='/images/productHome/pantalones3.webp' alt="destalle-del-producto" >
                          <div class="description">
                              <p class="nameProduct">descripcion del Producto</p>
                              <p class="price">$9000</p>
                          </div>
                    </article>
                    <article class="card">
                          <img class="image" src='/images/productHome/pantalones5.webp' alt="destalle-del-producto" >
                          <div class="description">
                              <p class="nameProduct">descripcion del Producto</p>
                              <p class="price">$9000</p>
                          </div>
                    </article>
          </div>
      </section>
      <section>
        <div class="banner">
          <video class="video-banner" src="/videos/banner-accesorios.mp4" autoplay loop muted>
          </video>
        </div>
        <h1 class="category"> ACCESORIOS </h1>
              <div class="tarjeta">  
                    <article class="card">
                          <img class="image" src="/images/productHome/accesorios1.webp" alt="Overal Orange" >
                          <div class="description">
                              <p class="nameProduct">Overol Naranja</p>
                              <p class="price">$1000</p>
                          </div>
                    </article>
                    <article class="card">
                          <img class="image" src="/images/productHome/accesorios2.webp" alt="destalle-del-producto" >
                          <div class="description">
                              <p class="nameProduct">descripcion del Producto</p>
                              <p class="price">$1000</p>
                          </div>
                    </article>  
                    <article class="card">
                          <img class="image" src='/images/productHome/accesorios3.webp' alt="destalle-del-producto" >
                          <div class="description">
                              <p class="nameProduct">descripcion del Producto</p>
                              <p class="price">$1000</p>
                          </div>
                    </article>
                    <article class="card">
                          <img class="image" src='/images/productHome/accesorios4.webp' alt="destalle-del-producto" >
                          <div class="description">
                              <p class="nameProduct">descripcion del Producto</p>
                              <p class="price">$1000</p>
                          </div>
                    </article>
          </div>
      </section>

      <div class="viewAll">
        <button>Boton View All</button>
      </div>

    <section>

      <h1>DISEÑADORXS // MARCAS</h1>
          <div class="carrusel info">
            <div class="designer">
              <img class="designerImg" src=".images/disgner-one.jpg" alt="diseñador tal">
              <p class ="designerDescription">Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique tenetur in, odio nihil nulla ullam placeat quisquam maxime accusamus suscipit officia exercitationem architecto libero ab rerum iusto fuga rem doloribus!
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere expedita rerum provident quasi laboriosam, labore hic nemo repellat consectetur delectus architecto earum. Ratione reiciendis delectus eveniet tempora dolore molestiae id?
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam aut, hic quas, earum doloribus ab vitae, ratione enim illo error placeat perferendis molestias magni nostrum odio cupiditate quam dolore quo.
              </p>
            </div>
            <div class="designer">
              <img class="designerImg" src=".images/disgner-two.jpg" alt="diseñador tal">
              <p class ="designerDescription">Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique tenetur in, odio nihil nulla ullam placeat quisquam maxime accusamus suscipit officia exercitationem architecto libero ab rerum iusto fuga rem doloribus!
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere expedita rerum provident quasi laboriosam, labore hic nemo repellat consectetur delectus architecto earum. Ratione reiciendis delectus eveniet tempora dolore molestiae id?
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam aut, hic quas, earum doloribus ab vitae, ratione enim illo error placeat perferendis molestias magni nostrum odio cupiditate quam dolore quo.
              </p>
            </div>
          </div>
    </section>




    </main>
    <footer>
      <div class="bannerFooter">
        <div class="logoFooter"><img src="" /></div>
      </div>
      <div>
          <p class="contactFooter">Para ventas mayoristas comunicarse por mail</p>
          <p class="contactFooter">Para pedidos personalizados comunicarse por mail</p>
      </div>
      <div class="footerlinks">
        <div class="aboutUs">
          <h3>Mas sobre INCLUDE</h3>
          <ul>
            <li>Histiria</li>
            <li>Referentes/influencers</li>
            <li>Marcas y Diseñadores</li>
            <li>Equipo y Fundadores</li>
          </ul>
        </div>
        <div class="information">
          <h3>Información</h3>
          <ul>
            <li>Preguntas Frecuentes</li>
            <li>Politicas de Privacidad</li>
            <li>Politicas de Devolucion</li>
            <li>Términos y condiciones</li>
          </ul>
        </div>
        <div class="followUs">
          <h3>Seguino</h3>
          <ul>
            <li>Facebook</li>
            <li>Twitter</li>
            <li>Instagram</li>
            <li>Pinterest</li>
          </ul>
        </div>
      </div>
    </footer>
  </body>
</html>
