<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Header y footer</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=League+Gothic&family=M+PLUS+Rounded+1c&family=Rajdhani&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <header>
      <div>
        <ul>
          <li>Productos</li>
          <li>Rebajas</li>
          <li>Ofertas</li>
          <li>Categorias</li>
        </ul>
      </div>
      <img class="logochico" src="""></div>
      <div>
      <ul>
        <li>Buscar</li>
        <li>Registrarse</li>
        <li>Deseos</li>
        <li>Compras</li>
      </ul>
    </div>
      </div>
    </header>
    <main>
      <!-- aca voy a meter el cuerpo del home - trabajo mobilefirst   -->
      <div class="baner">
        baner con video/foto
      </div>
      
      <section>

        <h1 class="Product section title one">Acá va el nombre de la seccion de articulos</h1>
            <article class="card">
                  <img class=" image" src="./images/producto.jpg" alt="destalle-del-producto" >
                  <p class="description product">descripcion del Producto</p>
                  <p class="price product">$800</p> 
            </article>
            <article class="card">
                  <img class=" image" src="./images/producto.jpg" alt="destalle-del-producto" >
                  <p class="description product">descripcion del Producto</p>
                  <p class="price product">$800</p> 
            </article>
            <article class="card">
                  <img class=" image" src="./images/producto.jpg" alt="destalle-del-producto" >
                  <p class="description product">descripcion del Producto</p>
                  <p class="price product">$800</p> 
            </article>
            <article class="card">
                  <img class=" image" src="./images/producto.jpg" alt="destalle-del-producto" >
                  <p class="description product">descripcion del Producto</p>
                  <p class="price product">$800</p> 
            </article>

      </section>

      <div class="second banner">Segundo Baner que separa las secction</div>

      <section>

        <h1 class="Product section title second">Acá va el nombre de la otra Seccion de articulos</h1>
            <article class="card">
                  <img class=" image" src="./images/producto.jpg" alt="destalle-del-producto" >
                  <p class="description product">descripcion del Producto</p>
                  <p class="price product">$800</p> 
            </article>
            <article class="card">
                  <img class=" image" src="./images/producto.jpg" alt="destalle-del-producto" >
                  <p class="description product">descripcion del Producto</p>
                  <p class="price product">$800</p> 
            </article>
            <article class="card">
                  <img class=" image" src="./images/producto.jpg" alt="destalle-del-producto" >
                  <p class="description product">descripcion del Producto</p>
                  <p class="price product">$800</p> 
            </article>
            <article class="card">
                  <img class=" image" src="./images/producto.jpg" alt="destalle-del-producto" >
                  <p class="description product">descripcion del Producto</p>
                  <p class="price product">$800</p> 
            </article>

      </section>

      <div class="carousel page number">
        <p><i class="fa-duotone fa-backward"></i>1 - 2 - 3 - 3<i class="fa-duotone fa-forward"></i></p>
      </div>

    <section>

      <h1>DISEÑADORXS // MARCAS</h1>
          <div class="carrusel info">
            <div class="designer one">
              <img class="img disgner one" src=".images/disgner-one.jpg" alt="diseñador tal">
              <p class ="description disigner one">Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique tenetur in, odio nihil nulla ullam placeat quisquam maxime accusamus suscipit officia exercitationem architecto libero ab rerum iusto fuga rem doloribus!
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere expedita rerum provident quasi laboriosam, labore hic nemo repellat consectetur delectus architecto earum. Ratione reiciendis delectus eveniet tempora dolore molestiae id?
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam aut, hic quas, earum doloribus ab vitae, ratione enim illo error placeat perferendis molestias magni nostrum odio cupiditate quam dolore quo.
              </p>
            </div>
            <div class="designer two">
              <img class="img disgner tow" src=".images/disgner-two.jpg" alt="diseñador tal">
              <p class ="description disigner two">Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique tenetur in, odio nihil nulla ullam placeat quisquam maxime accusamus suscipit officia exercitationem architecto libero ab rerum iusto fuga rem doloribus!
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere expedita rerum provident quasi laboriosam, labore hic nemo repellat consectetur delectus architecto earum. Ratione reiciendis delectus eveniet tempora dolore molestiae id?
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam aut, hic quas, earum doloribus ab vitae, ratione enim illo error placeat perferendis molestias magni nostrum odio cupiditate quam dolore quo.
              </p>
            </div>
          </div>
    </section>




    </main>
    <footer>
      <div class="bannerfooter">
        <div class="logo"><img src="" /></div>
        <div>
          <div>
          <button class="mayorista">Para ventas mayoristas comunicarse por mail>
          <div class="personalizado">Para pedidos personalizados comunicarse por mail</div>
        </div>
      </div>
      <div class="footerlinks">
        <div class="links">
          <h3></h3>
          <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
          </ul>
        </div>
        <div class="aboutus">
          <h3></h3>
          <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
          </ul>
        </div>
        <div class="information">
          <h3></h3>
          <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
          </ul>
        </div>
        <div class="contact">
          <h3></h3>
          <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
          </ul>
        </div>
      </div>
    </footer>
  </body>
</html>
