<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Header y footer</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=League+Gothic&family=M+PLUS+Rounded+1c&family=Rajdhani&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <header>
      <div>
        <ul>
          <li>Productos</li>
          <li>Rebajas</li>
          <li>Ofertas</li>
          <li>Categorias</li>
        </ul>
      </div>
      <img class="logochico" src="""></div>
      <div>
      <ul>
        <li>Buscar</li>
        <li>Registrarse</li>
        <li>Deseos</li>
        <li>Compras</li>
      </ul>
    </div>
      </div>
    </header>
    <main>
        
    </main>
    <footer>
      <div class="bannerfooter">
        <div class="logo"><img src="" /></div>
        <div>
          <div>
          <button class="mayorista">Para ventas mayoristas comunicarse por mail>
          <div class="personalizado">Para pedidos personalizados comunicarse por mail</div>
        </div>
      </div>
      <div class="footerlinks">
        <div class="links">
          <h3></h3>
          <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
          </ul>
        </div>
        <div class="aboutus">
          <h3></h3>
          <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
          </ul>
        </div>
        <div class="information">
          <h3></h3>
          <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
          </ul>
        </div>
        <div class="contact">
          <h3></h3>
          <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
          </ul>
        </div>
      </div>
    </footer>
  </body>
</html>
