<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>PRODUCTO</h1>
        <h2>(Home> Categoria> NombreDeLaCategoria> NombreDelProducto</h2>
    </div>
    <section><!-- Productos seleccionados -->
        <div>
            <img class="" src="./images/foto del producto" alt="Imagen del Producto"><!-- imagen del producto -->
            <div><!-- caracteristicas del producto seleccionado -->
                <h2>Nombre del Producto:</h2>
                <h2>Talle:</h2>
                <h2>Color:</h2>
                <div><!-- precio -1+ = precio final -->
                    <h2>$xxx,xx x</h2>
                    <div>
                        <button data-decrease-quantity="">−</button>
                        <input data-quantity-input="" aria-label="Quantity" type="number" min="1" size="4" pattern="[0-9]*" name="quantity" value="1">
                        <button  data-increase-quantity="">+</button>
                    </div>
                    <h2>= $xxx,xx</h2>
                </div>
            </div>
            <i class="--basurero o cruz--"></i><!-- icono de basurero o cruz -->
        </div>
    </section>
    <section><!-- Opciones de compra -->

    </section>
    <section><!-- Recomendaciones de compra -->

    </section>
</body>
</html>