<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Header y footer</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=League+Gothic&family=M+PLUS+Rounded+1c&family=Rajdhani&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <header>
      <nav>
      <div class="site">
        <ul>
          <li><a href="x">Productos</a></li>
          <li><a href="x">Rebajas</a></li>
          <li><a href="x">Ofertas</a></li>
          <li><a href="x">Categorias</a></li>
        </ul>
      </div>
      <div class="burgerMenu"></div>
      <img class="logoHeader" src="">
      <div class="car"></div>
        <div class="login">
          <ul>
            <li><a href="x">Buscar</a></li>
            <li><a href="./loginRegister">Registrarse</a></li>
            <li><a href="x">Deseos</a></li>
            <li><a href="./loginRegister">Compras</a></li>
          </ul>
        </div>
      </nav>
    </header>

    <main>
        <div class="pageName">
            <h2 class="titleDetail">PRODUCTO</h2>
            <h4 class="subtitleDetail">(Home> Categoria> NombreDeLaCategoria> NombreDelProducto</h4>
        </div>
        <div class="imageDetailANDcharacteristicsDetail">
            <div class="imageDetail">
                    <div class="imageBig">
                        <img class="imagenDetail" src="/images/products/Original Overal - Orange/orange-001.webp" alt="Orogonal Overol - Orange">
                    </div>
                    <div class="carrousel">
                        <img class="imagenDetailCarrusel" src="/images/products/Original Overal - Orange/orange-002.webp" alt="Orogonal Overol - Orange">
                        <img class="imagenDetailCarrusel" src="/images/products/Original Overal - Orange/orange-003.webp" alt="Orogonal Overol - Orange">
                        <img class="imagenDetailCarrusel" src="/images/products/Original Overal - Orange/orange-004.webp" alt="Orogonal Overol - Orange">
                        <img class="imagenDetailCarrusel" src="/images/products/Original Overal - Orange/orange-005.webp" alt="Orogonal Overol - Orange">
                        <img class="imagenDetailCarrusel" src="/images/products/Original Overal - Orange/orange-006.webp" alt="Orogonal Overol - Orange">
                        <img class="imagenDetailCarrusel" src="/images/products/Original Overal - Orange/orange-007.webp" alt="Orogonal Overol - Orange">
                        <img class="imagenDetailCarrusel" src="/images/products/Original Overal - Orange/orange-008.webp" alt="Orogonal Overol - Orange">
                        <img class="imagenDetailCarrusel" src="/images/products/Original Overal - Orange/orange-009.webp" alt="Orogonal Overol - Orange">
                    </div>
        
                    <div class="colors">
                        <label class="labelColor">Color:</label>
                        <select name="productColor">
                            <option value="orange">Naranja</option>
                            <option value="pink">Rosa</option>
                            <option value="red">Rojo</option>
                        </select>
                    </div>
            </div>
            <div class="characteristicsDetail"><!-- caracteristicas del producto -->
                <div>
                    <h2 class="productNameDetail">Original Overol - Naranja</h2>
                    <h3 class="priceDetail">$8500.00</h3>
                </div>
                <div>
                    <h2 class="itemDetail">Descripcion</h2>
                    <p class="descriptionDetail">¡Llegaron los overoles, nena! Unisexo. Ropa de trabajo vintage, puedes sentir la gran diferencia de calidad en la mayoría de las telas que se fabrican hoy. Ropa de trabajo resistente con costuras resistentes. Prenda teñida en un arcoíris de nuestros colores. Estos overoles son un elemento básico de guardarropa atemporal y están diseñados para trabajar contigo en los años venideros. Importante a tener en cuenta: por las caracteristicas de la tela los Overal estarán rígidos para empezar, se amoldarán con el tiempo y poco a poco se volverán más suaves y cómodos para su piel.</p>
                </div>
                <div>
                    <h2 class="itemDetail">Caracteristicas</h2>
                    <div class="descriptionDetail">
                        <ul class="ulCaracteristicas">
                            <li class="liCaracteristicas">Elavorado con mezclilla no elastica 100% algodon.</li>
                            <li class="liCaracteristicas">No estirable.</li>
                            <li class="liCaracteristicas">Pierna recta.</li>
                            <li class="liCaracteristicas">Grandes bolsillos.</li>
                            <li class="liCaracteristicas">Cuello curvo.</li>
                            <li class="liCaracteristicas">Costuras resistentes.</li>
                            <li class="liCaracteristicas">Botones dorados con logotipo.</li>
                            <li class="liCaracteristicas">Etiqueta con logotipo.</li>
                        </ul>
                    </div>
                </div>
                <div>
                    <h2 class="itemDetail">Dimensionamiento</h2>
                    <p class="descriptionDetail">Estos overoles están diseñados para ser un poco más holgados que los calces utilizados normalmente en pantalones. Es posible que estos overoles sean un poco rígidos debido a la naturaleza de la mezclilla pesada, ¡pero se aflojarán y se romperán con el tiempo y el uso!</p>
                    <p class="descriptionDetail">Recomendamos encarecidamente elegir correctamente su talla ya que la tela tiene una naturaleza restrictiva.</p>
                    <ul class="listaDeAlturaModelos">
                        <li class="liDimensionamiento">Jerrod mide 1.90cm y usa M</li>
                        <li class="liDimensionamiento">Mara mide 1.65cm y usa 4XL</li>
                        <li class="liDimensionamiento">Alex mide 1.73cm y usa S</li>
                        <li class="liDimensionamiento">Shai mide 1.65cm y usa M</li>
                    </ul>
                    
                    <div>
                        <h3 class="descriptionDetail">link para acceder a la <a href="http://www.TABLA DE TALLES.com">Tabla de talles para el producto</a></h3>
                    </div>
                </div>
                <div class="tallesForm">
                    <form>
                        <label class="labelTalles" for="talleSelect">Seleccione el talle del producto</label>
                        <div class="contenedorTalles">
                            <input class="inputContenedorTalles" name="talleSelect" type="submit" value="XXS">
                            <input class="inputContenedorTalles" name="talleSelect" type="submit" value="XS">
                            <input class="inputContenedorTalles" name="talleSelect" type="submit" value="S">
                            <input class="inputContenedorTalles" name="talleSelect" type="submit" value="M">
                            <input class="inputContenedorTalles" name="talleSelect" type="submit" value="L">
                            <input class="inputContenedorTalles" name="talleSelect" type="submit" value="XL">
                            <input class="inputContenedorTalles" name="talleSelect" type="submit" value="2XL">
                            <input class="inputContenedorTalles" name="talleSelect" type="submit" value="3XL">
                            <input class="inputContenedorTalles" name="talleSelect" type="submit" value="4XL">
                            <input class="inputContenedorTalles" name="talleSelect" type="submit" value="5XL">
                            <input class="inputContenedorTalles" name="talleSelect" type="submit" value="6XL">
                        </div>
                        
                        <div class="quantity">
                            <button data-decrease-quantity="">−</button>
                            <input data-quantity-input="" aria-label="Quantity" type="number" min="1" size="4" pattern="[0-9]*" name="quantity" value="1">
                            <button  data-increase-quantity="">+</button>
                        </div>
                        <button class="addToCart" type="submit" value="addToShop">Agregar al carrito -> $8500,00</button>
                    </form>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <!-- aca va lo que hizo juancho -->
    </footer>
    
</body>
</html>