<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>PRODUCTO</h1>
        <h2>(Home> Categoria> NombreDeLaCategoria> NombreDelProducto</h2>
    </div>
    <div>  
        <a href="http://www.VOLVER AL HOME.com">Seguir comprando</a>
    </div>
    <section><!-- Productos seleccionados -->
        <div><!-- uno de estos para cada producto seleccionado -->
            <img class="" src="./images/foto del producto" alt="Imagen del Producto"><!-- imagen del producto -->
            <div><!-- caracteristicas del producto seleccionado -->
                <h2>Nombre del Producto:</h2>
                <h2>Talle:</h2>
                <h2>Color:</h2>
                <div><!-- precio -1+ = precio final -->
                    <h2>$xxx,xx x</h2>
                    <div>
                        <button data-decrease-quantity="">−</button>
                        <input data-quantity-input="" aria-label="Quantity" type="number" min="1" size="4" pattern="[0-9]*" name="quantity" value="1">
                        <button  data-increase-quantity="">+</button>
                    </div>
                    <h2>= $xxx,xx</h2>
                </div>
            </div>
            <i class="--basurero o cruz--"></i><!-- icono de basurero o cruz -->
        </div>
    </section>
    <section><!-- Opciones de compra -->
        
        <div>
            <h2>Código del cupón</h2>
            
            <button type="submit" value="addCupon">Aplicar CUPON</button>
        </div>
        <div>
            <h2>Estimar envio:</h2>
            <h3>Pais</h3>
            <select name="selectCountry">
                <option value="Country1">Country1</option>
                <option value="Country2">Country2</option>
                <option value="Country3">Country3</option>
            </select>
            <h3>Provincia</h3>
            <select name="selectState">
                <option value="State1">State1</option>
                <option value="State2">State2</option>
                <option value="State3">State3</option>
            </select>
            <h3>Código postal:</h3>
            <input type="number" name="postalCode" playholder="3000">
        </div>
        <div>
            <button type="submit" value="addCupon">Obtener cotización</button>
        </div>
    </section>
    <section><!-- Recomendaciones de compra NO APLICA EN MOVILE FIRST-->
        <h2>Recomendaciones de compra:</h2>
        imgaenes
    </section>
</body>
</html>