/*---ROSTI hasta linea 100 ---*/
*{
    box-sizing: border-box;
}

 Paleta de colores{
color:  #F4FAFD;
color: #4893AA;
color: #7A31DD;
color: #210E30;
color: #0E0515;
color: #0F0417;
color: #06000A;
color: #040006 ;
 }

/* header */

header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #040006;
    color:  #F4FAFD;
}
.logoHeader{
    display: inline-block;
}
.cart{
    color: #4893AA;
    display: inline-block;
}
.burgerMenu{
    color: #7A31DD;
    display: inline-block;
}
.site, .login{
    display: none;
}
.bannerimg{
    display:none;
    width: 100%;
}

body{
    
    background-color: #F4FAFD;
    color:#210E30;
    font-family: 'M PLUS Rounded 1c', 'Rajdhani';
    font-size: 20px;
    text-align: center;

}
.logoHeader{
    width: 100px;
}

/* CARD */

.paraponerlasdeados{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
/* .tarjeta{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%; */
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    width: 50%;
    align-items: center;
}

.description{
    margin: 0px;
}
.image{
    width: 100%;
    margin: auto;
}



































































































/*---JUANCHO hasta linea 200 ---*/


/* Iconos */
/* Carrito */
/* <i class="fa-solid fa-cart-shopping"></i> */ 
/* Bolso compras */
/* <i class="fa-solid fa-bag-shopping"></i> */
/* Corazón */
/* <i class="fa-solid fa-heart"></i> */
/* Register */
/* <i class="fa-solid fa-circle-user"></i> */
/* Lupa */
/* <i class="fa-solid fa-magnifying-glass"></i> */
/* Menú habmurgues */
/* <i class="fa-solid fa-bars"></i> */
/* Estrella */
/* <i class="fa-solid fa-star"></i> */
/* Remerapercha */
/* <i class="fa-solid fa-shirt"></i> */
/* categories */
/* <i class="fa-solid fa-list-timeline"></i> */
/* Manito plata */
/* <i class="fa-solid fa-hand-holding-dollar"></i> */


































































































/*---PINI hasta linea 300 ---*/


