/*---ROSTI hasta linea 100 ---*/

 Paleta de colores{
color:  #F4FAFD;
color: #4893AA;
color: #7A31DD;
color: #210E30;
color: #0E0515;
color: #0F0417;
color: #06000A;
color: #040006 ;
 }

/* header */

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #040006;
    color:  #F4FAFD;
}
.logoHeader{
    display: inline-block;
    width: 30%;
}
.cart{
    color: #4893AA;
    display: inline-block;
    width: 30%;
}
.burgerMenu{
    color: #7A31DD;
    display: inline-block;
    width: 30%;
}
.site, .login{
    display: none;
}
.bannerimg{
    display:none;
    width: 100%;
}

body{
    
    background-color: #F4FAFD;
    color:#210E30;
    font-family: 'M PLUS Rounded 1c', 'Rajdhani';
    font-size: 20px;
    text-align: center;

}


/* CARD */
.tarjeta{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    width: 75%;
    align-items: center;
}

.description{
    margin: 0px;
}
.image{
    width: 100%;
    margin: 5px;
}





















/*---JUANCHO hasta linea 200 ---*/


/* Iconos */
/* Carrito */
/* <i class="fa-solid fa-cart-shopping"></i> */ 
/* Bolso compras */
/* <i class="fa-solid fa-bag-shopping"></i> */
/* Corazón */
/* <i class="fa-solid fa-heart"></i> */
/* Register */
/* <i class="fa-solid fa-circle-user"></i> */
/* Lupa */
/* <i class="fa-solid fa-magnifying-glass"></i> */
/* Menú habmurgues */
/* <i class="fa-solid fa-bars"></i> */
/* Estrella */
/* <i class="fa-solid fa-star"></i> */
/* Remerapercha */
/* <i class="fa-solid fa-shirt"></i> */
/* categories */
/* <i class="fa-solid fa-list-timeline"></i> */
/* Manito plata */
/* <i class="fa-solid fa-hand-holding-dollar"></i> */

.login-register{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-around;
}
.login1{
    width: 280px;
}
.register{
    width: 280px;
}
.formulario{
    display: flex;
    justify-content: center;
}
.inputLogin{
    text-align: center;
}

input{
    display: block;
    text-align: center;
    justify-content: center;
}
form{
    justify-content: center;
}




















/*---PINI hasta linea 300 ---*/
*{
    margin: 0px;
    box-sizing: border-box;
    padding: 0px;
}
.subtitle{
    display: none;
}

.imageBig img{
    width: 300px;
    margin-bottom: 10px;
}
.carrousel{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

}
.carrousel img{
    width: 80px;
    margin: 2px;
}

.descriptionDetails{
    margin: 8px;

}
.characteristicsDetail{
    text-align: left;
    margin-left: 8px;
}
.listaDeAlturaModelos{
    list-style: none;
}
.tallesForm label{
    display: block;
}
.contenedorTalles input{
    margin: 10px;
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
}
.contenedorTalles{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.quantity{
    margin-top: 20px;
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
}
.addToCart{
    display: block;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    padding: 15px;
}






/* ---- MEDIAS QUERIS------*/

@media (min-width: 426px) {
    .subtitle{
        display: block;
        opacity: .5;
    }
    .imageDetailANDcharacteristicsDetail{
        display: flex;
        flex-wrap: nowrap;
       
    }
    .imageDetail{
        width: 50%;
        display: inline;
    }
    .carrousel{
        width: 360px;
    }
    .characteristicsDetail{
        display: inline;
        width: 50%;
    }

    .tallesForm label{
        text-align: center;
    }
    .contenedorTalles{
        width: 425px;
        margin-bottom: 30px;
        margin: auto;
    }
    .quantity{
        margin-top: 20px;
    }
    .addToCart{
        margin-top: 30px;
    }
}