<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head')  %> 

  <body>
    <%- include('partials/header') %>
  
    <main class="mainCreateProduct">
      
        <div class="contaicontainCreate">
              <div>
                <h2 class="titleCreateProduct">Crear Productos</h2>
                <h5 class="subtitleCreatProduct">Home > Crear</h5>
              </div>

              <form class='formularioCreateProducts' action="/products/create" method="POST" enctype="multipart/form-data">

                  <div class="editarCP">
                      <label for="name">Nombre del Producto</label>
                      <input class="formatCreateProductInput" type="text" minlength="6" name="name">
                  </div>

                  <div class="editarCP">
                      <label for="description">Descripción del Producto</label>
                      <input class="formatCreateProductInput" type="text" minlength="6" id="description" name="description">
                  </div>

                  <div class="editarCP">
                    <label for="characteristics">Caracteristicas</label>
                    <input class="formatCreateProductInput" type='textarea' minlength="6" id="ca" name="characteristics">
                  </div>

                  <div class="editarCP">
                    <label for="sizing">Dimensionamiento</label>
                    <input class="formatCreateProductInput" type='texta' minlength="6" id="ca" name="sizing">
                  </div>

                  <div class="editarCP">
                    <label for="image">Imagen</label>
                    <p>Imagen Principal</p>
                    <input class="formatFileCP" type="file" name="image1" accept=".jpg, .png">
                    <p>Imagenes Generales</p>
                    <input class="formatFileCP" type="file" name="image2" accept=".jpg, .png">
                    <input class="formatFileCP" type="file" name="image3" accept=".jpg, .png">
                    <input class="formatFileCP" type="file" name="image4" accept=".jpg, .png">
                    <input class="formatFileCP" type="file" name="image5" accept=".jpg, .png">
                  </div>

                  <div class="editarCP">
                    <label for="categoryProduct">Categoría:</label>
                        <select name="categoryProduct">
                            <option value="orange">Top</option>
                            <option value="pink">Pantalon</option>
                            <option value="red">Accesorios</option>
                        </select>
                  </div>

                  <div class="editarCP">
                    <label for="color">Colores:</label>
                        <select name="color">
                            <option value="Rojo">Rojo</option>
                            <option value="Negro">Negro</option>
                            <option value="Blanco">Blanco</option>
                            <option value="Verde">Verde</option>
                            <option value="Naranja">Naranja</option>
                        </select>
                  </div>
                  
                  <div class="editarCP">
                    <label for="sizeProduct">Talles:</label>
                        <select name="sizeProduct">
                            <option value="XXS">XXS</option>
                            <option value="XS">S</option>
                            <option value="S">S</option>
                            <option value="M">M</option>
                            <option value="L">L</option>
                            <option value="XL">XL</option>
                            <option value="3XL">3XL</option>
                            <option value="4XL">4XL</option>
                            <option value="5XL">5XL</option>
                            <option value="6XL">6XL</option>
                        </select>
                    </div>

                  <div class="editarCP">
                    <label for="price">Precio</label>
                    <input class="formatCreateProductInput" name="price" type="number" minlength="6" >
                  </div>
                  <div class="editarCP">
                    <label for="cantidad">Cantidad</label>
                    <input class="formatCreateProductInput" name="cantidad" type="number" minlength="6" >
                  </div>

                  <button type="submit" class="form-button">Crear</button>
            </form>

          </div>

    </main>
  
  <%- include('partials/footer')  %> 

</body>
</html>