<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head')  %> 

  <body>
    <%- include('partials/header') %>
  
    <main class="mainLoginRegister">
      <div class="login-register">
        
        <section class="register">
          <div>
            <h2 class="title">Crear/Editar Productos</h2>
            <h5 class="subtitle">Home > Crear/Editar</h5>
          </div>
          <div class="formulario">
            <form>
              <div class="form-format">
                <label for="user">Nombre del Producto</label>
                <input class="format-input" type="text" minlength="6" name="user">
              </div>
              <div class="form-format">
                <label for="user">Descripción del Producto</label>
                <input class="format-input" type="text" minlength="6" name="user">
              </div>
              <div class="form-format">
                <label>Imagen</label>
                <input class="format-input" type="file" name="imagenProducto" accept=".jpg, .png">
              </div>
              <div class="form-format">
                <label>Categoria:</label>
                <select name="categoryProduct">
                    <option value="orange">Top</option>
                    <option value="pink">Pantalon</option>
                    <option value="red">Accesorios</option>
                </select>
              </div>
              <div class="form-format">
                <label>Colores:</label>                
                <ul>
                    <li><input type="checkbox" name="colores" value="rojo">rojo</li>
                    <li><input type="checkbox" name="colores" value="negro">negro</li>
                    <li><input type="checkbox" name="colores" value="blanco">blanco</li>
                    <li><input type="checkbox" name="colores" value="verde">verde</li>
                    <li><input type="checkbox" name="colores" value="naranja">naranja</li>
                </ul>
              </div>
              <div class="form-format">
                <label>Talles:</label>                
                <ul>
                    <li><input type="checkbox" name="colores" value="rojo">rojo</li>
                    <li><input type="checkbox" name="colores" value="negro">negro</li>
                    <li><input type="checkbox" name="colores" value="blanco">blanco</li>
                    <li><input type="checkbox" name="colores" value="verde">verde</li>
                    <li><input type="checkbox" name="colores" value="naranja">naranja</li>
                </ul>
              </div>
              <div class="form-format">
                <label>Talles:</label>                
                <ul>
                    <li><input type="checkbox" name="colores" value="XXS">XXS</li>
                    <li><input type="checkbox" name="colores" value="XS">XS</li>
                    <li><input type="checkbox" name="colores" value="S">S</li>
                    <li><input type="checkbox" name="colores" value="M">M</li>
                    <li><input type="checkbox" name="colores" value="L">L</li>
                    <li><input type="checkbox" name="colores" value="XL">XL</li>
                    <li><input type="checkbox" name="colores" value="2XL">2XL</li>
                    <li><input type="checkbox" name="colores" value="3XL">3XL</li>
                    <li><input type="checkbox" name="colores" value="4XL">4XL</li>
                    <li><input type="checkbox" name="colores" value="5XL">5XL</li>
                    <li><input type="checkbox" name="colores" value="6XL">6XL</li>
                </ul>
              </div>
              <div class="form-format">
                <label for="user">Precio</label>
                <input class="format-input" type="number" minlength="6" name="user">
              </div>
              <button type="submit" class="form-button">Editar</button>
            </form>
    </main>
  
  <%- include('partials/footer')  %> 

</body>
</html>