<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head')  %> 
  
  <body>
    <%- include('partials/header') %> 

    <main>
      <!-- aca voy a meter el cuerpo del home - trabajo mobilefirst   -->
      <div class="banner">
        <video class="video-banner" src="/videos/banner-toptop.mp4" autoplay loop muted>
        </video>
      </div>
      
      <section>

            <!-- <h1 class="category"> TOP </h1> -->

              <div class="tarjeta">  
                    <article class="card">
                        <img class="image" src="/images/productHome/top1.jpg" alt="Overal Orange">
                        <img class="image2" src="/images/productHome/top1.1.jpg" alt="Overal Orange">
                        <div class="description">
                            <p class="nameProduct">Remera Stras M/C</p>
                            <p class="price">$4100</p>
                        </div>
                    </article>
                    <article class="card">
                          <img class="image" src="/images/productHome/top2.jpg" alt="destalle-del-producto" >
                          <img class="image2" src="/images/productHome/top2.1.jpg" alt="Overal Orange">
                          <div class="description">
                              <p class="nameProduct">Top Amarillo S/M</p>
                              <p class="price">$5500</p>
                          </div>
                    </article>  
                    <article class="card">
                          <img class="image" src='/images/productHome/top3.jpg' alt="destalle-del-producto" >
                          <img class="image2" src="/images/productHome/top3.1.jpg" alt="Overal Orange">
                          <div class="description">
                              <p class="nameProduct">Remerón Blanco C/M</p>
                              <p class="price">$7400</p>
                          </div>
                    </article>
                    <article class="card">
                          <img class="image" src='/images/productHome/top4.jpg' alt="destalle-del-producto" >
                          <img class="image2" src="/images/productHome/top4.1.jpg" alt="Overal Orange">
                          <div class="description">
                              <p class="nameProduct">Top Negro S/M</p>
                              <p class="price">$6300</p>
                          </div>
                    </article>
              </div>

      </section>

      <div class="banner">
        <video class="video-banner" src="/videos/banner-pantalones.mp4" autoplay loop muted>
        </video>
      </div>
      <section> 
<!-- 
        <h1 class="category"> PANTALONES </h1> -->
              <div class="tarjeta">  
                    <article class="card">
                          <img class="image" src="/images/productHome/pantalones1.jpg" alt="Overal Orange" >
                          <img class="image2" src="/images/productHome/pantalones1.1.jpg" alt="Overal Orange" >
                          <div class="description">
                              <p class="nameProduct">Pantalon Jirafa</p>
                              <p class="price">$10200</p>
                          </div>
                    </article>
                    <article class="card">
                          <img class="image" src="/images/productHome/pantalones2.png" alt="destalle-del-producto" >
                          <img class="image2" src="/images/productHome/pantalones2.1.png" alt="Overal Orange" >
                          <div class="description">
                              <p class="nameProduct">Biker Negra</p>
                              <p class="price">$8000</p>
                          </div>
                    </article>  
                    <article class="card">
                          <img class="image" src='/images/productHome/pantalones3.jpg' alt="destalle-del-producto" >
                          <img class="image2" src="/images/productHome/pantalones3.1.jpg" alt="Overal Orange" >
                          <div class="description">
                              <p class="nameProduct">Biker Naranja</p>
                              <p class="price">$8000</p>
                          </div>
                    </article>
                    <article class="card">
                          <img class="image" src='/images/productHome/pantalones4.jpg' alt="destalle-del-producto" >
                          <img class="image2" src="/images/productHome/pantalones4.1.jpg" alt="Overal Orange" >
                          <div class="description">
                              <p class="nameProduct">Biker Verde</p>
                              <p class="price">$9800</p>
                          </div>
                    </article>
          </div>
      </section>
      <section>
        <div class="banner">
          <video class="video-banner" src="/videos/banner-accesorios.mp4" autoplay loop muted>
          </video>
        </div>
        <!-- <h1 class="category"> ACCESORIOS </h1> -->
              <div class="tarjeta">  
                    <article class="card">
                          <img class="image" src="/images/productHome/accesorios1.webp" alt="Overal Orange" >
                          <img class="image2" src="/images/productHome/accesorios1.1.webp" alt="Overal Orange" >
                          <div class="description">
                              <p class="nameProduct">Medias</p>
                              <p class="price">$1500</p>
                          </div>
                    </article>
                    <article class="card">
                          <img class="image" src="/images/productHome/accesorios2.webp" alt="destalle-del-producto" >
                          <img class="image2" src="/images/productHome/accesorios2.1.webp" alt="Overal Orange" >
                          <div class="description">
                              <p class="nameProduct">Bandana</p>
                              <p class="price">$1200</p>
                          </div>
                    </article>  
                    <article class="card">
                          <img class="image" src='/images/productHome/accesorios3.webp' alt="destalle-del-producto" >
                          <img class="image2" src="/images/productHome/accesorios3.1.webp" alt="Overal Orange" >
                          <div class="description">
                              <p class="nameProduct">Pin Rainbow</p>
                              <p class="price">$400</p>
                          </div>
                    </article>
                    <article class="card">
                          <img class="image" src='/images/productHome/accesorios4.webp' alt="destalle-del-producto" >
                          <img class="image2" src="/images/productHome/accesorios4.1.webp" alt="Overal Orange" >
                          <div class="description">
                              <p class="nameProduct">Pin Sandia</p>
                              <p class="price">$400</p>
                          </div>
                    </article>
          </div>
      </section>

      <div class="viewAll">
        <button>Boton View All</button>
      </div>

    <section>

      <div class="banner">
        <video class="video-bannerDesigner" src="/videos/banner-diseñoymarca.mp4" autoplay loop muted>
        </video>
      </div>
          <div class="carruselinfo">
            <i class="icononDesigner fa-solid fa-circle-chevron-left"></i>
            <div class="designer">
              <img class="designerImg" src="/images/productHome/diseño1.jpg" alt="diseñador tal">
              <p class ="designerDescription">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique tenetur in, odio nihil nulla ullam placeat quisquam maxime accusamus suscipit officia exercitationem architecto libero ab rerum iusto fuga rem doloribus!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam cumque quidem omnis animi, alias provident architecto qui aliquam eius ipsa veritatis sit? Quia doloribus qui error minima, officiis iusto repellat!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis perspiciatis id reprehenderit illo ducimus obcaecati in cumque facilis minima? Adipisci dolor eius ducimus explicabo repellendus, modi in placeat rem debitis!
              </p>
            </div>
            <i class="icononDesigner fa-solid fa-circle-chevron-right"></i>
          </div>
    </section>

    </main>

    <footer class="footer">
      <div class="topFooter">
        <div class="bannerLogin">
          <video class="video-bannerLogin" src="/videos/banner-mail.mp4" autoplay loop muted>
          </video>
        </div>
        <!-- <div class="pedidos"> -->
        <div class="buttonsFooterLogin">
          <button class="footer-button" type="submit">Para ventas mayoristas comunicarse por mail</button> 
          <button class="footer-button" type="submit">Para pedidos personalizados comunicarse por mail</button> 
        </div><!-- </div> -->
      </div>
    <div class="footerLinks">
      <div class="aboutUs">
        <h5>Mas sobre INCLUDE</h5>
        <ul>
          <li>Histiria</li>
          <li>Referentes/influencers</li>
          <li>Marcas y Diseñadores</li>
          <li>Equipo y Fundadores</li>
        </ul>
      </div>
      <div class="information">
        <h5>Información</h5>
        <ul>
          <li>Preguntas Frecuentes</li>
          <li>Politicas de Privacidad</li>
          <li>Politicas de Devolucion</li>
          <li>Términos y condiciones</li>
        </ul>
      </div>
      <div class="followUs">
        <h5>Seguinos</h5>
        <ul>
          <li>Facebook</li>
          <li>Twitter</li>
          <li>Instagram</li>
          <li>Pinterest</li>
        </ul>
      </div>
    </div>
  </footer>
  </body>
</html>
