<footer class="footer">
    <div class="topFooter">
      <div class="bannerLogin">
        <video class="video-bannerLogin" src="/videos/banner-mail.mp4" autoplay loop muted>
        </video>
      </div>
      <!-- <div class="pedidos"> -->
      <div class="buttonsFooterLogin">
        <button class="footer-button" type="submit">Para ventas mayoristas comunicarse por mail</button> 
        <button class="footer-button" type="submit">Para pedidos personalizados comunicarse por mail</button> 
      </div><!-- </div> -->
    </div>
  <div class="footerLinks">
    <div class="aboutUs">
      <h5>Mas sobre INCLUDE</h5>
      <ul>
        <li>Histiria</li>
        <li>Referentes/influencers</li>
        <li>Marcas y Diseñadores</li>
        <li>Equipo y Fundadores</li>
      </ul>
    </div>
    <div class="information">
      <h5>Información</h5>
      <ul>
        <li>Preguntas Frecuentes</li>
        <li>Politicas de Privacidad</li>
        <li>Politicas de Devolucion</li>
        <li>Términos y condiciones</li>
      </ul>
    </div>
    <div class="followUs">
      <h5>Seguinos</h5>
      <ul>
        <li>Facebook</li>
        <li>Twitter</li>
        <li>Instagram</li>
        <li>Pinterest</li>
      </ul>
    </div>
  </div>
</footer>