<footer class="footer">
    <div class="topFooter">
      <div class="bannerLogin">
        <video class="video-bannerLogin" src="/videos/banner-mail.mp4" autoplay loop muted>
        </video>
      </div>
    </div>
  <div class="footerLinks">
    <div class="information">
      <h5>Información</h5>
      <ul>
        <li>Preguntas Frecuentes</li>
        <li>Politicas de Privacidad</li>
        <li>Politicas de Devolucion</li>
        <li>Términos y condiciones</li>
      </ul>
    </div>
    <div class="aboutUs">
      <h5>Mas sobre INCLUDE</h5>
      <ul>
        <li>Puede comunicarse con nosotres</li>
        <li>a travez de las redes sociales</li>
        <li>y hacernos llegar sus sujerencias</li>
        <li>para mejorar la calidad del servicio</li>
      </ul>
    </div>
    <div class="followUs">
      <h5>Seguinos</h5>
      <ul>
        <li><i class="iconFooter fa-brands fa-facebook"></i>include_market</li>
        <li><i class="iconFooter fa-brands fa-twitter"></i>include.ok</li>
        <li><i class="iconFooter fa-brands fa-instagram"></i>somosINCLUDE</li>
        <li><i class="iconFooter fa-brands fa-pinterest"></i>includeRealStyle</li>
      </ul>
    </div>
  </div>
</footer>