<header class="header">
    <nav class="nav">
      <ul class="site">
        <div>
          <i class="fa-solid fa-shirt"></i>
          <li><a href="/products/productsList">Productos</a></li>
        </div>
        <div>
          <i class="fa-solid fa-star"></i>
          <li><a href="/products/create">Nuevo</a></li>
        </div>
        <div>
          <i class="fa-solid fa-hand-holding-dollar"></i>
          <li><a href="x">Rebajas</a></li>
        </div>
        <div>
          <i class="fa-solid fa-list"></i>
          <li><a href="x">Categorias</a></li>
        </div>
      </ul>
    <div class="burgerMenu">
      <i class="fa-solid fa-bars"></i>
    </div>
    <a href="/"><img class="logoHeaderMobile" src="/images/logos/logo-text.png"></a>
    <a href="/"><img class="logoHeaderDesktop" src="/images/logos/logo-text.png"></a>
    <div class="cart">
      <i class="fa-solid fa-cart-shopping"></i>
    </div>
        <ul class="login">
          <div>
            <i class="fa-solid fa-magnifying-glass"></i>
            <li><a href="x">Buscar</a></li>
          </div>
          <div>
            <i class="fa-solid fa-circle-user"></i>
            <li><a href="/user/loginRegister">Registrarse</a></li>
          </div>
          <div>
            <i class="fa-solid fa-heart"></i>
            <li><a href="/products/edit">Deseos</a></li>
          </div>
          <div>
          <i class="fa-solid fa-bag-shopping"></i>
          <li><a href="/products/productCart">Compras</a></li>
          </div>
        </ul>
      
    </nav>
    <div class="userSession">
                
            
            <%  if (!userLogueado) { %>
              <img class="userImg" src="/images/users/default-avatar.jpg" alt="Default Avatar">
              <a href="/user/loginRegister">Iniciar Sesión</a>
            <% } else {  %>
              <img class="userImg" src="/images/users/<%= userLogueado.avatar %>" alt="Avatar de Usuario">
              <p><%= userLogueado.userName %></p>
            <% } %>   
            <a href="/user/logout"><i class="iconOutSession fa-solid fa-arrow-right-from-bracket"></i></a>
                  
        </div>
  </header>